.cart-modal {
    &-order-list {
        max-height: 450px;
        overflow: scroll;
    }
    &-order-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .item {
            &-image {
                width: 25%;
                height: 25%;
            }
            &-title {
                flex: 1; 
            }
            &-quantity {
                padding-left: 20px; 
            }
        }
    }
}